* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    text-decoration: none !important;
}
.faq-section {
    /* width: 80% !important; */
    margin-bottom: 50px;
}

.footer-social>a {
    font-size: 35px;
}

@media screen and (max-width: 1000px) {
    .recommend-message {
      display: none;
    }
  }
